/* 

Project Name: Cookie Monster 
Client: Cookie Monster
Author: Chris Castiglione | www.twitter.com/castig | www.castig.org 
Developed @ One Month in NYC 

*/

body {
	background: url('../images/guitars.jpeg');
	/* the follow is the code to have the image display as a full page */
	background-position: center;
	background-attachment: fixed;
	-webkit-background-size: cover; /* the next 3 lines are "browser prefixes", they are necessary to include for CSS3 techniques */
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	font-family:'Quicksand', sans-serif;
}



#container{
	background: black;
	width: 570px;
	color: white;
	padding: 15px;
}

h1 {
	font-size: 80px;
	font-weight: bolder;
}

h2 {
	color: black;
	background: #75c1f6;
	padding: 5px;
	border-radius: 5px;
	text-align: center;
}

a {
	color :#75c1f6;
	text-decoration: none;
}

#vid{
	padding-left: 5px;
}